h1 {
  background: white;
  font-size: 50px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 50px;
  max-width: 500px;
  text-align: center;
 font-family: 'VT323',
  monospace;
}

.float-right {
  margin: 0 auto;
  font-size: 40px;
  margin-left: 700px;
  text-align: center;
  font-family: 'VT323',
  monospace;
}

h5 {
  text-align: center;
  font-family: 'VT323',
  monospace;
}

body {
  display: flex;
  background-image: url('/src/zoltan-tasi-HQPJEEjHqSE-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

p {
  text-align: center;
  font-family: 'VT323',
  monospace;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 15px;
  max-width: 50%;
  position: relative;
}

.btn-success {
  font-family: 'VT323',
  monospace;
}

.btn-danger {
  width: 50px;
  font-family: 'VT323',
  monospace;
}

.btn-primary {
  width: 50px;
  font-family: 'VT323',
  monospace;
}

.float-right {
  margin-left: 900px;
}

.card {
  border-radius: 20px;
  border: 1px solid black;
  opacity: 0.55;
  position: relative;
}

.city {
  width: 750px;
  height: 40px;
  border: 1px solid #999999;
  padding: 5px;
}

.search-bar {
  margin-top: 4px;
  margin-right: 10px;
  margin-left: 10px;
}

#search-city-input {
  border-radius: 10px;
  max-width: 50%;
  font-family: 'VT323',
  monospace;
}

#today-temp {
  font-size: 50px;
  text-align: center;
}

#degree-symbol {
  font-size: 50px;
}
